<footer id="kontakt" class="footer">
    <div class="container footer__inner">
      <div>
        <strong>CRAZY FAMILY</strong> – Kevin & Alex<br>
        <a style="color: #fff;" href="pages/impressum.html">Impressum</a>
      </div>
      <div class="socials">
        <a class="btn btn-tt" href="#" target="_blank" rel="noopener">TikTok</a>
        <a class="btn btn-yt" href="#" target="_blank" rel="noopener">YouTube</a>
        <a class="btn btn-dc" href="#" target="_blank" rel="noopener">Discord</a>
      </div>
    </div>
  </footer>