<footer id="kontakt" class="footer">
  <div class="container footer__inner">
    <div>
      <strong>CRAZY FAMILY</strong> – Kevin & Alex<br>
      <a style="color: #fff;" href="/pages/impressum.html">Impressum</a>
    </div>
    <div class="socials">
      <a class="" href="https://www.tiktok.com/@crazyfamilylp?is_from_webapp=1&sender_device=pc" target="_blank" rel="noopener"><img class="logo_header" src="/assets/images/tiktok_logo_icon.png" alt="TikTok Logo"></a>
        <a class="" href="https://www.youtube.com/@CrazyFamilyLP/featured" target="_blank" rel="noopener"><img class="logo_header" src="/assets/images/youtube2_icon.png" alt="YouTube Logo"></a>
        <a class="" href="https://discord.gg/H4TT6yR78w" target="_blank" rel="noopener"><img class="logo_header" src="/assets/images/discord_icon.png" alt="Discord Logo"></a>
    </div>
  </div>
</footer>